@import "config";
@import "utils";

/* Container */
.container {
  display: flex;
  max-width: 1280px;
  flex-direction: row;
  margin: auto;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: $box-shadow;
  position: relative;
  top: 70px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  .main {
    width: 74%;
    height: auto;
    padding: 1rem 1.5rem;
    font-size: size(2.5);
    .main-header{
      width: 100%;
      background-color: $terciary-color;
      padding: 0.5rem 1.5rem;
      color: $font-color;
      border-radius: 3px;
    }
  }
  .sidebar {
    width: 25%;
    .card {
      border: 2px $primary-color solid;
      padding: 1rem 1.2em;
      box-shadow: $box-shadow-soft;
      
      li{
        list-style-type: none;
        font-size: size(1.8);
      }

      .card-title{
        text-align: center;
        width: 100%;
        background-color: $secondary-color;
        color: $font-color;
        border-radius: 3px;
        h4{
          font-weight: 400;
        }
      }
      .card-body{
        font-size: size(1.8);

        .data-group{
          text-align: center;
          margin: 0.5rem 0;

          h4{
            font-size: size(2);
          }
        }

      }
    }
  }
}
/* tables */
.tableBox{
    max-height: 500px;
    overflow: auto;
    border-bottom: $primary-color 3px solid;
    padding: 1.5rem 0;
  .bigTable{
    margin: 2rem 0;
    thead{
      line-height: 3rem;
    }
    th{
      border-bottom: 2px solid #222;
    }
    tbody tr{
      line-height: 2.5rem;
    }
  }
}
.title-table{
  text-align: center;
}

table{
  text-align: center;
  width: 100%;
}

.smallTable{
  th{
    border-bottom: 1px solid #222;
  }
  tbody td{
    border-bottom: 0.5px solid rgba(34, 34, 34, 0.3);
  }
}
/* Form Enterprise */
.formEnterprise{
  width: 30%;
  min-width: 300px;
  padding: 1rem 1.5rem;
  text-align: center;
  select{
    margin: 1rem 0;
    width: 100%;
    line-height: 1.5rem;
    border-radius: 3px;
    text-align: center;
    font-size: size(2);
  }
}
.generalData{
  width: 70%;
}

/* Nav Bar */
.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 0.5rem 0rem;
  background-color: $primary-color;
  color: $secondary-color;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.4);
  z-index: 999;
  .name-brand {
    margin: 0 1rem;
    color: $font-color;
    font-weight: 200;
  }

  .navigation-menu {
    margin-left: auto;

    ul {
      display: flex;
      padding: 0;
    }
    li {
      list-style-type: none;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      height: 60px;
      a {
        text-decoration: none;
        display: block;
        width: 100%;
      }
      &:hover {
        background-color: $terciary-color;
        a {
          color: $font-color !important;
        }
      }
    }
  }
}

.hamburger {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $terciary-color;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  &:hover {
    background-color: $fifth-color;
  }
}


@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation {
    .navigation-menu {
      position: fixed;
      top: 60px;
      left: 100%;
      width: 100vw;
      height: 100vh;
      background-color: $primary-color;
      border-top: 1px solid $secondary-color;
      border-bottom: 2px solid $secondary-color;
      margin: 0;
      transition: all 0.2s ease-in-out;
      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        li {
          text-align: center;
          margin: 0;
          padding: 1rem;
          width: 100%;
          a {
            width: 100%;
            color: $secondary-color;
            margin: 0;
          }
          &:hover {
            background-color: $terciary-color;
            a {
              color: $font-color !important;
            }
          }
        }
      }
      &.expanded {
        left: 0%;
      }
    }
  }
  .container{
    flex-wrap: wrap;
    .main {
      width: 100%;
    }
    .sidebar {
      width: 100%;
    }
  }
  
  .formEnterprise{
    width: 100%;
  }
  .generalData{
    width: 100%;
  }
}
